/* ----------------------- variable ----------------------- */

@font-face {
  font-family: "Almarose Regular";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Almarose-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Almarose Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Almarose-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Almarose Semibold";
  font-style: bold;
  font-weight: bold;
  src: url("../fonts/Almarose-Semibold.woff2") format("woff2");
  font-display: swap;
}
