@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles below */
body {
  @apply bg-gray-100 text-gray-900;
}
html {
  scroll-behavior: smooth;
}

@import "/public/fonts/fonts.css";
