@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600&family=Krona+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body bg-[#000814] text-[#E9EDF5];
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading tracking-wide text-white;
    line-height: 1.2 !important;
  }
}
